@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    box-shadow: 2px 2px 30px #55555534;
    z-index: 777;
}

.social-call {
    height: 40px;
    border: 1px solid #55555521;
    display: flex;
    justify-content: center;
    text-align: center;
}

.social a {
    margin: 0 5px;
    color: #292727;
    font-size: 0.9rem;
}

.phone {
    color: rgba(0, 0, 0, 0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}

.social a:hover {
    color: #cbaf87;
    transition: all ease 0.3s;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}

.logo img {
    height: 30px;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}

.menu li a {
    color: #555555;
}

.right-menu {
    display: flex;
    width: 200px;
    justify-content: flex-end;
}

.right-menu a {
    margin: 0 0 0 15px;
    font-size: 1.2rem;
    color: #292727;
    position: relative;
}

.menu a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #cbaf87;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu a:hover::after {
    width: 100%;
    left: 0;
}

.right-menu a:hover,
.search-cancel:hover {
    color: #cbaf87;
    transition: all ease 0.3s;
}

.sale-label {
    width: 38px;
    height: 17px;
    background-color: #e40017;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
}

.sale-label::after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #e40017;
    border-right: 5px solid transparent;
    position: absolute;
    top: 100%;
    left: 10%;
}

.fa-shopping-cart {
    position: relative;
}

.num-cart-product {
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #cbaf87;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.search-box {
    height: 30px;
    width: 30px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
    width: 170px;
}

.search-box>.search-btn {
    height: 27px;
    width: 27px;
    color: #292727;
    background: none;
    position: absolute;
    top: 50%;
    right: 1px;
    border-radius: 50px;
    transform: translateY(-50%);
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.3s;
    z-index: 7;
}

.search-btn:hover {
    color: #cbaf87;
}

.search-box input {
    height: 100%;
    width: 100%;
    border: 1px #272727 solid;
    background: #ffffff;
    font-size: 14px;
    border-radius: 50px;
    outline: none;
    padding: 0 17px 0 10px;
}

.search-cancel {
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
}

.form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 77777;
}

.login-form,
.sign-up-form {
    width: 420px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.109);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.login-form form,
.sign-up-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-form strong,
.sign-up-form strong {
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.login-form input,
.sign-up-form input {
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.109);
    outline: none;
    border-radius: 7px;
}

.login-form input::placeholder,
.sign-up-form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"] {
    background-color: #cbaf87;
    color: #ffffff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.109);
}

.form-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-btns a {
    color: #4d4d4d;
    font-size: 0.9rem;
}

.sign-up-btn {
    border-bottom: 1px solid #868686;
    line-height: 16px;
}

.form-cancel {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
    transition: .2s ease;
}

.form-cancel:hover {
    color: #f76b6a;
}

.login-form,
.sign-up-form,
.form {
    display: none;
}

.login-active,
.login-active .login-form {
    display: flex;
    animation: 0.3s fade;
}

.sign-up-active,
.sign-up-active .sign-up-form {
    display: flex;
    animation: 0.3s fade;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.full-slider-box,
.banner-box {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.f-slide-1 {
    background-image: url(../images/banner.png)
}

.f-slide-2 {
    background-image: url(../images/banner.png);
}

.f-slide-3 {
    background-image: url(../images/banner.png);
}


/* Btns-div */

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 50px 0;
    padding: 20px 20px;
}

.btn-container button {
    animation: none;
    width: 100px;
    height: 40px;
    background: transparent;
    outline: none;
    border: 1px solid #e0e0e0;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    margin: 0 20px 0 0;
    color: #30475e;
}

.btn-container button:active {
    box-shadow: none;
}

.btn-container button:hover {}

.slider-text-container,
.banner-text-container {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}

.f-slider-text,
.banner-text {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.f-slider-text strong,
.banner-text strong {
    color: #30475e;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.f-slider-text span,
.banner-text span {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: #868686;
    font-size: 1.2rem;
}

.f-slider-btn,
.banner-btn {
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #cbaf87;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
}

.f-slider-btn:hover,
.banner-btn:hover {
    transition: 0.3s ease;
    background: #e7dec8;
}

.f-slider-text strong font,
.banner-text strong font {
    color: #cbaf87;
}

.feature-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-heading h2,
.arrival-heading strong {
    font-size: 1.5rem;
    color: #1b1919;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0
}

.feature-box {
    width: 155px;
    height: 155px;
    margin: 0px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.feature-box a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item span {
    font-size: 1rem;
    font-weight: 600;
    margin: 5px;
    color: #444444;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#autoWidth {
    display: flex;
    justify-content: center;
    margin: 10px auto 40px auto;
}

.new-arrival {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.arrival-heading {
    text-align: center;
}

.arrival-heading strong {
    color: #ffffff;
    background-color: #30475e;
    font-weight: 500;
}

.arrival-heading p {
    color: #808080;
    margin: 10px;
    font-size: 0.9rem;
}

.product-container {
    width: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-box {
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f1f0f0;
    border-radius: 10px;
    margin: 20px;
}

.product-img {
    width: 200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #f3f3f3;
}

.p-name {
    color: #727272;
}

.p-price {
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}

.add-cart {
    position: absolute;
    right: -20px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #cbaf87;
    display: none;
    animation: fade 0.3s;
}

.add-cart:hover {
    background: #e7dec8;
    transition: all ease 0.2s;
}

.product-box:hover .add-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sale {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.sale-box {
    width: 280px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    flex-grow: 0.5;
}

.sale-box img {
    width: 100%;
    height: 100%;
    object-position: center right;
    object-fit: cover;
}

.sale-text {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
    display: flex;
    flex-direction: column;
}

.sale-box a {
    color: #1b1919;
}

.sale-text strong {
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
    line-height: 23px;
}

.banner-box {
    height: 40vh;
    margin: 20px 0px;
}

.services {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.109);
    min-width: 250px;
    padding: 20px;
    margin: 15px;
    flex-grow: 0.7;
}

.services-box i {
    color: #cbaf87;
    font-size: 2rem;
    margin: 15px;
}

.services-box span {
    color: #222222;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
}

.services-box>p {
    color: #878787;
    margin: 0px;
    font-size: 0.9rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.109);
    flex-wrap: wrap;
    margin-top: 20px;
}

.copyright {
    font-size: 0.9rem;
    color: #4e4e4e;
    letter-spacing: 1px;
}

.subscribe {
    margin-left: 30px;
}

.subscribe input {
    width: 240px;
    height: 43px;
    padding: 0px 20px;
    border: 1px solid rgba(0, 0, 0, 0.109);
    outline: none;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
}

.subscribe input[type="submit"] {
    width: 120px;
    background-color: #cbaf87;
    color: #fff;
    margin: 0 5px;
}

.fix-nav {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index: 77777777;
}

.move {
    position: fixed;
    right: 6%;
    top: 87%;
    display: none;
}

.move-active {
    display: inline-block;
    transition: 0.5s ease-in-out;
}

.move span {
    color: #30475e;
    cursor: pointer;
}

.move span:hover {
    color: #7e8a97;
}

.toggle {
    display: none;
}

.p30 {
    color: #fff;
}


/* Responsive */

@media(max-width:1010px) {
    nav {
        position: relative;
    }
    .navigation {
        height: 80px;
    }
    .fix-nav {
        height: 80px;
    }
    .menu {
        position: absolute;
        top: 110px;
        left: 0px;
        background-color: #fff;
        border-bottom: 4px solid #cbaf87;
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 100;
        flex-direction: column;
        display: none;
    }
    .fix-nav .menu {
        top: 80px;
    }
    .menu li {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid rgba(0, 0, 0, 0.03);
    }
    .sale-lable {
        display: none;
    }
    .toggle {
        display: block;
        line-height: 30px;
        z-index: 1;
        cursor: pointer;
    }
    .navigation.active .menu {
        display: block;
    }
    .full-slider-box,
    .banner-box {
        height: 45vh;
    }
    .f-slider-text span,
    .banner-text span {
        font-size: 0.9rem;
    }
    .f-slider-text strong,
    .banner-text strong {
        font-size: 2rem;
        line-height: 40px;
    }
    .sale-box {
        height: 200px;
    }
    .btn-container button {
        margin: 0 5px 0 0;
    }
}

@media(max-width:600px) {
    .navigation {
        padding: 10px;
    }
    .full-slider-text strong,
    .banner-text strong {
        font-size: 1.2rem;
        line-height: 25px;
    }
    .full-slider-box,
    .banner-text {
        height: 30vh;
    }
    .f-slider-text span,
    .banner-text span {
        font-size: 0.8rem;
    }
    .full-slider-btn,
    .banner-text {
        width: 120px;
        height: 30px;
        font-size: 0.8rem;
    }
    .feature-heading h2 {
        font-size: 1.2rem;
    }
    .feature-box {
        width: 120px;
        height: 120px;
    }
    .new-arrival strong,
    .feature-heading strong {
        font-size: 1.2rem;
    }
    .new-arrival p,
    .feature-heading p {
        font-size: 0.8rem;
        text-align: center;
    }
    .sale-box {
        width: 100%;
        height: 180px;
    }
    .sale {
        width: 100%;
    }
    .services {
        width: 100%;
    }
    .services-box {
        width: 100%;
    }
    .copyright {
        margin: 20px 0px;
        text-align: center;
    }
    .subscribe {
        width: 100%;
    }
    .subscribe form {
        flex-wrap: nowrap;
        display: flex;
        width: 100%;
    }
    .subscribe input {
        width: 100%;
        flex-grow: 1;
    }
    .login-form,
    .sign-up-form {
        width: 90%;
    }
    .search-box.active {
        width: 90px;
    }
    .btn-container button {
        width: 70px;
        height: 30px;
        font-size: .67rem;
    }
}